# .env.example ta na raiz do projeto todo

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=senha_segura
DB_NAME=CinelogPlay

PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173